{% include 'head.html' %}
<body>
{% include 'menu_top.html' %}
<div class="task-container_personal">
    <div class="task-container">
        {% for row in answer %}
    <div class="task-item" data-id="{{ row.id }}">
        <img src="{{ url_for('static', filename='images/open.png') }}"> {{ row.id }} : {{ row.position }}
        <div align="right">
            <button onclick="deletePost({{ row.id }})"><img src="{{ url_for('static', filename='images/close.png') }}">
                </button>
        </div>

<script>
function deletePost(id) {
    if (confirm('Вы уверены, что хотите удалить должность с ID ' + id + '?')) {
        const token = sessionStorage.getItem('token'); // Получаем токен

        if (!token) {
            alert('Ошибка: токен аутентификации отсутствует. Пожалуйста, войдите в систему.');
            return;
        }

        fetch('/delete_post/' + id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token, // Добавляем токен в заголовки
            }
        })
        .then(response => {
            if (response.ok) {
                alert('Должность с ID ' + id + ' был удален.');
                document.querySelector(`.task-item[data-id="${id}"]`).remove();
            } else {
                return response.text().then(text => {
                    alert('Ошибка при удалении должности: ' + text);
                });
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    }
}
</script>

    </div>
        {% endfor %}
    <div class="task-container_personal">
        <div class="task-container">
            <h5> </h5>
                <form method="post" action="/insert_post" enctype="multipart/form-data">
                    <label>добавить должность </label>
                    <input type="text" name="position" required><br><br>
                    <input type="submit" value="Добавить">
                </form>
        </div>
    </div>

</div>

</div>

